<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">You are IT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
        <input id="search-bar" class="form-control" type="text" placeholder="Search">
        <form action="signin">
            <button type="submit" class="btn">Sign in</button>
        </form>
    </div>
</nav>