<h3>Languages</h3>

<table class="table table-sm">
    <tbody class="natural_languages_table">
    {% for language in natural_languages %}
        <tr>
            <td>{{ language[0] }}</td>
            <td>
                {% if edit %}
                <a
                    href="#"
                    id="{{ loop.index0 }}"
                    class="student_natural_languages"
                    data-type="select"
                    data-url="/student_edit_natural_language"
                    data-title="Edit"
                >
                    C1
                </a>
                {% else %}
                <p>CHANGE THIS</p>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if edit %}
<button class="add-row">
    Add Language
</button>
{% else %}
{% endif %}


<h3>Programming Languages</h3>
<table class="table table-sm">
{% for language in programming_languages %}
<tr>
    <td>{{ language[0] }}</td>
    <td>
        <a
            href="#"
            class="student_programming_languages"
            data-type="select"
            data-url="/student_edit_programming_language"
            data-title="Edit"
        >
            Familiar
        </a>
    </td>
</tr>
{% endfor %}
</table>

<h3>Other Skills</h3>
<ul>
    {% for skill in other_skills %}
    <li>
        <a
            href="#"
            class="student_other_skills"
            data-type="text"
            data-url="/student_edit_other_skills"
            data-title="Edit"
        >
            ...
        </a>
    </li>
    {% endfor %}
</ul>
