<div class="table-editable">
    <span class="table-add glyphicon glyphicon-plus"></span>
    <table id="tbl-os" class="table">
        <tr>
            <th>Skill</th>
            <th></th>
            <th></th>
        </tr>
        {% for skill in other_skills %}
        <tr>
            <td contenteditable="{{ edit }}">{{ skill.skill }}</td>
            <td>
                <span class="table-remove glyphicon glyphicon-remove"></span>
            </td>
            <td>
                <span class="table-up glyphicon glyphicon-arrow-up"></span>
                <span class="table-down glyphicon glyphicon-arrow-down"></span>
            </td>
        </tr>
        {% endfor %}

        {% if edit %}
        <tr class="hide">
            <td contenteditable="true">New Skill</td>
            <td>
                <span class="table-remove glyphicon glyphicon-remove"></span>
            </td>
            <td>
                <span class="table-up glyphicon glyphicon-arrow-up"></span>
                <span class="table-down glyphicon glyphicon-arrow-down"></span>
            </td>
        </tr>
        {% endif %}
    </table>
</div>