{% if edit %}

<a
    href="#"
    id="student_quote"
>
    <blockquote class="blockquote">
        <p class="mb-0">{{ quote }}</p>
    </blockquote>
</a>

{% else %}

<blockquote class="blockquote">
    <p class="mb-0">{{ quote }}</p>
</blockquote>

{% endif %}