{% if edit %}

<!-- Student fullname -->
<h5>
    <a
        href="#"
        id="student_fullname"
    >
        {{ fullname }}
    </a>
</h5>

<!-- Student city -->
<h5>
    <a
        href="#"
        id="student_city"
    >
        {{ city }}
    </a>
</h5>

<!-- Student university and major -->
<h5>
    <p>
        is student at
        <a
            href="#"
            id="student_university"
        >
            <b>{{ university }}</b>
        </a>
        in
        <a
            href="#"
            id="student_major"
        >
          {{ major }}
        </a>
    </p>
</h5>

{% else %}

<h5>{{ fullname }}</h5>
<h5>{{ city }}</h5>
<p>is student at <b>{{ university }}</b> in {{ major }}</p>

{% endif %}