<div class="table-editable">
    <span class="table-add glyphicon glyphicon-plus"></span>
    <table id="tbl-nl" class="table">
        <tr>
            <th>Language</th>
            <th>Level</th>
            <th></th>
            <th></th>
        </tr>
        {% for pair in natural_languages %}
        <tr>
            <td contenteditable="{{ edit }}">{{ pair.language }}</td>
            <td contenteditable="{{ edit }}">{{ pair.level }}</td>
            <td>
                <span class="table-remove glyphicon glyphicon-remove"></span>
            </td>
            <td>
                <span class="table-up glyphicon glyphicon-arrow-up"></span>
                <span class="table-down glyphicon glyphicon-arrow-down"></span>
            </td>
        </tr>
        {% endfor %}

        {% if edit %}
        <tr class="hide">
            <td contenteditable="true">New Language</td>
            <td contenteditable="true">New Level</td>
            <td>
                <span class="table-remove glyphicon glyphicon-remove"></span>
            </td>
            <td>
                <span class="table-up glyphicon glyphicon-arrow-up"></span>
                <span class="table-down glyphicon glyphicon-arrow-down"></span>
            </td>
        </tr>
        {% endif %}
    </table>
</div>