{% extends 'base.html' %}

{% block styles %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<center>
    <img src="https://atlassianblog.wpengine.com/wp-content/uploads/2017/12/404-pages_featured@2x.png" width="80%" height="80%"/>
</center>
{% endblock %}