{% extends 'bootstrap/base.html' %}

{% block metas %}
<meta charset="UTF-8" />
<meta lang="end" />
{% endblock %}

{% block styles %}
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="{{ url_for('static', filename='bootstable.js')}}"></script>

<script>
    $('#search-bar').keypress(function(e) {
        if (e.which == 13) {
            $.ajax({
                url: '/user/search',
                method: 'GET',
                data: $('#search-bar').val(),
                success: function(resp) {
                   $("html").html(resp);
                }
            });
            e.preventDefault();
        }
    });
</script>

{% endblock %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block navbar %}
    {% include 'includes/_navbar.html' %}
{% endblock %}

{% block content %} {% endblock %}
