{% extends 'base.html' %}

{% block styles %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
{% endblock %}


{% block content %}
    <div class="jumbotron text-center">
        <h1>You are IT</h1>
        <p class="lead">
            Join now, and be discovered by some of the best IT companies. This is for you, students.
        </p>
        <hr/>
        <a class="btn btn-primary btn-lg" href="signup" role="button">Signup now!</a>
    </div>
{% endblock %}