{% extends 'base.html' %}

{% block styles %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
{% endblock %}


{% block content %}
<div class="container">
    <br />
    {% if findings %}
    <ul class="list-unstyled">
    {% for result in findings %}
    <li class="media" style="background-color: #f6f2f9;">
        <a href="/user?id={{ result.id }}">
            <img class="align-self-center mr-3" width="130px" height="auto" src="{{ result.profile_picture }}"/>
        </a>
        <div class="media-body">
            <br />
            <h5 class="mt-0">{{ result.fullname }}</h5>
            <p><i>{{ result.city }}</i></p>
            <p>
            {% for language in result.languages[:5] %}
            <span class="badge badge-secondary">{{ language }}</span>
            {% endfor %}
            {% if result.languages|length > 5 %}
            <span class="badge badge-secondary">etc...</span>
            {% endif %}
            </p>
        </div>
    </li>
    <br />
    {% endfor %}
    </ul>
    {% else %}
    <div class="alert alert-info" role="alert">
        No results found
    </div>
    {% endif %}
</div>
{% endblock %}