{% extends 'base.html' %}

{% block styles %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
<link href="{{ url_for('static', filename='floating-labels.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" action="signin" method="POST">
                                {{ signin_form.hidden_tag() }}
                                <div class="form-group">
                                    {{ signin_form.email(class="form-control form-control-lg rounded-0", placeholder="Email") }}
                                </div>
                                <div class="form-group">
                                    {{ signin_form.password(class="form-control form-control-lg rounded-0", placeholder="Password") }}
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success btn-lg float-right" type="submit">Sign In</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}