{% extends 'base.html' %}

{% block styles %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Student</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Create customized profile</li>
                    <li>Discover companies</li>
                    <li>Find the best internships</li>
                </ul>
                <form action="/signup_student" method="GET">
                    <button type="submit" class="btn btn-lg btn-block btn-primary">Sign up</button>
                </form>
            </div>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Company</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Portray your company</li>
                <li>Issue internships</li>
                <li>Search for students</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign Up</button>
        </div>
    </div>
</div>
{% endblock %}