{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 well" style="background-color: #FFFFFF;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-success">
                        <strong>Congratulations!</strong>
                        <p>
                        Sign up succesful. Why don't you take a look at your profile now?
                        </p>
                    </div>
                    <p><a class="btn btn-lg btn-primary btn-success" href="#" >Sign In</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
    </div>
</div>
{% end block %}