{% extends 'base.html' %}

{% block styles %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">Register</h3>
                        </div>
                        <div class="card-body">
                            <form action="/signup_student" class="form" method="POST">
                                <!-- Email -->
                                <div class="form-group {% if form.email.errors %} has-error {% endif %}">
                                    {{ form.email.label(class="col-sm-4") }}
                                    {{ form.email(placeholder="Email", class="form-control form-control-lg rounded-0") }}
                                    {{ form.email.errors[0] }}
                                </div>

                                <!-- Full Name -->
                                <div class="form-group {% if form.fullname.errors %} has-error {% endif %}">
                                    {{ form.fullname.label(class="col-sm-4") }}
                                    {{ form.fullname(placeholder="Full Name", class="form-control form-control-lg rounded-0") }}
                                    {{ form.fullname.errors[0] }}
                                </div>

                                <!-- Birthdate -->
                                <div class="form-group {% if form.birthdate.errors %} has-error {% endif %}">
                                    {{ form.birthdate.label(class="col-sm-4") }}
                                    {{ form.birthdate(placeholder="Birthdate (YYYY-MM-DD)", class="form-control form-control-lg rounded-0") }}
                                    {{ form.birthdate.errors[0] }}
                                </div>

                                <!-- City -->
                                <div class="form-group {% if form.city.errors %} has-error {% endif %}">
                                    {{ form.city.label(class="col-sm-4") }}
                                    {{ form.city(placeholder="City", class="form-control form-control-lg rounded-0") }}
                                    {{ form.city.errors[0] }}
                                </div>

                                <!-- University -->
                                <div class="form-group {% if form.university.errors %} has-error {% endif %}">
                                    {{ form.university.label(class="col-sm-4") }}
                                    {{ form.university(placeholder="University", class="form-control form-control-lg rounded-0") }}
                                    {{ form.university.errors[0] }}
                                </div>

                                <!-- Major -->
                                <div class="form-group {% if form.major.errors %} has-error {% endif %}">
                                    {{ form.major.label(class="col-sm-4") }}
                                    {{ form.major(placeholder="Major", class="form-control form-control-lg rounded-0") }}
                                    {{ form.major.errors[0] }}
                                </div>

                                <!-- Password -->
                                <div class="form-group {% if form.password.errors %} has-error {% endif %}">
                                    {{ form.password.label(class="col-sm-4") }}
                                    {{ form.password(placeholder="Password (min 8 characters)", class="form-control form-control-lg rounded-0") }}
                                    {{ form.password.errors[0] }}
                                </div>

                                <!-- Confirm Password -->
                                <div class="form-group {% if form.password2.errors %} has-error {% endif %}">
                                    {{ form.password2.label(class="col-sm-4") }}
                                    {{ form.password2(placeholder="Confirm Password", class="form-control form-control-lg rounded-0") }}
                                    {{ form.password2.errors[0] }}
                                </div>

                                <button class="btn btn-success btn-lng float-right" type="submit">Sign Up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}