{% extends 'base.html' %}

{% block styles %}
    {% if not edit %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
    {% else %}
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
    {% endif %}
    <style>
        body {
            background-color: #eaedf2;
        }
    </style>
{% endblock %}

{% block navbar %}
    {% if not edit %}
        {% include 'includes/_navbar.html' %}
    {% endif %}
{% endblock %}

{% block content %}
{% include 'includes/_image_upload.html' %}
<br />
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                <a
                    id="image-upload"
                >
                    <img
                        id="avatar"
                        style="overflow: hidden; width: 200px; height: 200px;"
                        class="img img-thumbnail crop"
                        src="{{ profile_picture }}"
                    />
                </a>
                </div>
                <div class="col-md-8">
                    <br />
                {% include 'includes/_student_particulars.html' %}
                </div>
            </div>
            <br />
            <br />
            <div style="background-color: #f9f9f9;">
                {% include 'includes/_student_quote.html' %}
            </div>
            <br />
            {% include 'includes/_student_looking_for.html' %}
            {% include 'includes/_student_experience.html' %}
        </div>

        <div class="col-md-4" style="background-color: #f9f9f9;">
            {% include 'includes/_student_natural_languages.html' %}
            <br />
            {% include 'includes/_student_programming_languages.html' %}
            <br />
            {% include 'includes/_student_other_skills.html' %}
        </div>
    </div>
    {% if edit %}
    <a
        id="save"
        class="btn btn-primary"
        type="button"
        href="?id={{user_id}}"
    >
        Save
    </a>
    {% else %}
    <a
        id="edit"
        class="btn btn-primary"
        type="button"
        href="?id={{user_id}}&edit=True"
    >
        Edit
    </a>
    {% endif %}

</div>

{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        var user_id;

        const natural_languages_url_call            = '/user/natural_languages?';
        const programming_languages_url_call        = '/user/programming_languages?';
        const other_skills_url_call                 = '/user/other_skills?';
        const fullname_url_call                     = '/user/fullname?';
        const city_url_call                         = '/user/city?';
        const university_url_call                   = '/user/university?';
        const major_url_call                        = '/user/major?';
        const quote_url_call                        = '/user/quote?';
        const looking_for_url_call                  = '/user/looking_for?';
        const experience_url_call                   = '/user/experience?';

        var natural_languages_json;
        var programming_languages_json;
        var other_skills_json;

        $(document).ready(function() {

            user_id = getParameterByName('id');

            $.fn.editable.defaults.mode = 'inline';

            $('#student_fullname').editable({
                type: 'text',
                url: fullname_url_call + $.param({ id: user_id }),
                pk: user_id,
                title: "Edit your name",
                ajaxOptions: {
                    dataType: 'HTML'
                }
            });

            $('#student_city').editable({
                type: 'text',
                url: city_url_call + $.param({ id: user_id }),
                pk: user_id,
                title: "Edit your city",
                ajaxOptions: {
                    dataType: 'HTML'
                }
            });

            $('#student_university').editable({
                type: 'text',
                url: university_url_call + $.param({ id: user_id }),
                pk: user_id,
                title: "Edit your university",
                ajaxOptions: {
                    dataType: 'HTML'
                }
            });

            $('#student_major').editable({
                type: 'text',
                url: major_url_call + $.param({ id: user_id }),
                pk: user_id,
                title: "Edit your major",
                ajaxOptions: {
                    dataType: 'HTML'
                }
            });

            $('#student_quote').editable({
                type: 'text',
                url: quote_url_call + $.param({ id: user_id }),
                pk: user_id,
                title: "Edit quote",
                ajaxOptions: {
                    dataType: 'HTML'
                }
            });

            $('#student_looking_for').editable({
                type: 'textarea',
                url: looking_for_url_call + $.param({ id: user_id }),
                pk: user_id,
                title: "Edit",
                ajaxOptions: {
                    dataType: 'HTML'
                }
            });

            $('#student_experience').editable({
                type: 'textarea',
                url: experience_url_call + $.param({ id: user_id }),
                pk: user_id,
                title: "Edit",
                ajaxOptions: {
                    dataType: 'HTML'
                }
            });
        });

        function getParameterByName(name) {
           return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null;
        }

        $('#image-upload').click(function() {
            $('#avatar_form').modal();
        });

        $('#upload-file-btn').click(function() {
            var form_data = new FormData($('#upload-file')[0]);

            $.ajax({
                type: 'POST',
                url: '/upload?' + $.param({ id: user_id }),
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                success: function(data) {
                    $('#avatar_form').modal('hide');
                    $img = $('#avatar');
                    $img.attr("src", data);
                }
            });
        });

        $('.table-add').click(function () {
            $TABLE = $(this).parent();
            console.log($TABLE);
            var $clone = $TABLE.find('tr.hide').clone(true).removeClass('hide table-line');
            $TABLE.find('table').append($clone);
        });

        $('.table-remove').click(function () {
            $(this).parents('tr').detach();
        });

        $('.table-up').click(function () {
            var $row = $(this).parents('tr');
            if ($row.index() === 1) return; // Don't go above the header
            $row.prev().before($row.get(0));
        });

        $('.table-down').click(function () {
            var $row = $(this).parents('tr');
            $row.next().after($row.get(0));
        });

        jQuery.fn.shift = [].shift;


        $('#save').click(function () {
            $('.table').each(function(i, obj) {
                console.log($(this));
                var $rows = $(this).find('tr:not(:hidden)');
                var headers = [];
                var data = [];

                // Get the headers
                $($rows.shift()).find('th:not(:empty)').each(function() {
                    headers.push($(this).text().toLowerCase());
                });

                // turn all rows into array
                $rows.each(function() {
                    var $td = $(this).find('td');
                    var h = {};

                    // User the headers to name the keys
                    headers.forEach(function(header, i) {
                        h[header] = $td.eq(i).text();
                    });

                    data.push(h);

                });

                var url_call;
                switch (obj.id) {
                        case 'tbl-nl':
                            url_call = natural_languages_url_call
                            break;
                        case 'tbl-pl':
                            url_call = programming_languages_url_call
                            break;
                        case 'tbl-os':
                            url_call = other_skills_url_call
                            break;
                    }

                $.ajax({
                    method: 'POST',
                    url: url_call + $.param({ id: user_id }),
                    contentType: 'application/json',
                    data: JSON.stringify(data)
                });
            });
        });
    </script>
{% endblock %}
